<footer class="">
  <div class="footer_content">
      <div class="container">
          <p>Nous contacter: +242 06 504 22 22</p>
          <p>Nous écrire : sgc.qualite&#64;socgen.com</p>
          <p><a href="#">Trouver une agence</a></p>
      </div>  
  </div>
  <div class="footer_bottom">
    <div class="container">
      <img src="img/logo.png" alt="Société Générale Logo" class="footer_logo">
    </div>
      <ul class="container">
          <li><a href="#">Contact</a></li>
          <li><a href="#">Mentions légales</a></li>
          <li><a href="#">Plan du site</a></li>
          <li><a href="#">Sécurité</a></li>
          <li><a href="#">Crédits</a></li>
      </ul>
  </div>
</footer>