<section class="horizontal_container header_banner">
  <div class="header_banner_container">
    <div class="header_banner_card">
      <span class="vertical_line"></span>
      <div class="header_banner_card_text">
        <span>Programme de</span>
        <span>recrutement de</span>
        <span>jeunes cadres</span>
      </div>
    </div>
  </div>
</section>
<section>
  <form action="#" class="">
    <div class="form_head horizontal_container">
      <span>Offre disponible > <span>Offre #324</span></span>
      <h2>Offre #324: International Marketing Project Manager H/F</h2>
    </div>
    <div class="form_body vertical_container horizontal_container">
      <div class="form_body_personal_info vertical_container horizontal_container">
        <div class="info_text">
          <div class="first_name">
            <label for="first_name">
              NOM <br>
              <input class="form_input" type="text" name="" id="first_name">
            </label>
          </div>
          <div class="last_name">
            <label for="last_name">
              PRÉNOM <br>
              <input class="form_input" type="text" name="" id="last_name">
            </label>
          </div>
          <div class="birth_option">
            <div class="birhtday">
              <label for="birthday">
                DATE DE NAISSANCE<br>
                <input type="text" name="" id="birthday">
              </label>
            </div>
            <div class="birthplace">
              <label for="birthplace">
                LIEUX DE NAISSSANCE<br>
                <input type="text" name="" id="birth-place">
              </label>
            </div>
          </div>
          <div class="form_input email">
            <label for="email">
              ADDRESS E-MAIL <br>
              <input class="form_input" type="text" name="" id="email">
            </label>
          </div>
          <div class="form_input study-level">
            <label for="study-level">
              NIVEAU D'ÉTUDES <br>
              <input class="form_input" type="text" name="" id="study-level">
            </label>
          </div>
          <div class="form_input study-domain">
            <label for="study-domain">
              DOMAINES D'ÉTUDES <br>
              <input class="form_input" type="text" name="" id="study-domain">
            </label>
          </div>
        </div>
        <div class="form_upload_file">
          <span>Téléchargez votre fichier :</span>
          <span class="form_input_file_placeholder">"john_newman.pdf"</span>
          <button type="button" class="btn btn-primary">UPLOAD</button>
          <button type="button" class="btn btn-secondary btn-outline">APRERCU</button>
        </div>
      </div>
      <div class="form_body_pro_info horizontal_container">
        <span>Entrez vos experiences professionelles</span>
        <table>
          <thead>
            <tr>
              <th class="th">Début</th>
              <th class="th">Fin</th>
              <th class="th">Intitulé du poste</th>
              <th class="th">Description et realisation</th>
              <th class="th">Société</th>
              <th class="th"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>jan 15</td>
              <td>Mars 18</td>
              <td>Controleur de gestion</td>
              <td>Déploiement de la stratégie financière définie par la Direction. Contrôle et gestion prévisionnelle des coûts, analyse des écarts</td>
              <td>BANQUE POPULAIRE</td>
              <td class="icons">
                <span class="icon">
                  <img src="icon/pen.png" alt="">
                </span>
                <span class="icon">
                  <img src="icon/delete.png" alt="">
                </span>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr class="btn_add">
              <td colspan="6" style="text-align: center;">+ AJOUTER</td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="form_body_sup_info vertical_container horizontal_container">
        <div class="text_input">
          <span>En quelques mots, declinez vos motivations, intérêts et perspectives concernant ce poste:</span>
          <textarea name="" id="" rows="6"></textarea>
        </div>
        <div class="file_input">
          <div class="file_input_button">
            <span>Ajouter des documents si nécessaire</span>
            <button type="button" class="btn btn-primary">UPLOAD</button>
          </div>
          <div class="file_uploaded">
            <div class="file_uploaded_item">
              <span>1. TOETC_test.pdf</span>
              <img class="icon" src="icon/delete.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form_body_valid_btn">
      <div class="btn_container">
        <button type="button" class="btn btn-primary">VALIDER</button>
        <button type="button" class="btn btn-outline">SAUVEGARDER LES MODIFCAIONS</button>
      </div>
    </div>
  </form>
</section>
