* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
}

.container:not(header){
  padding: 20px 40px;
}
.container:where(header){
  padding: 40px 20px 0 40px;
}
.horizontal_container{
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
}
.vertical_container{
  padding-top: 40px;
  padding-bottom: 40px;
}