* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
}

.container:not(header){
  padding: 20px 40px;
}
.container:where(header){
  padding: 40px 20px 0 40px;
}
.horizontal_container{
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
}
.vertical_container{
  padding-top: 40px;
  padding-bottom: 40px;
}
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.btn{
  padding: 7px 15px;
  border: none;
  margin-left: 20px;
  &:hover{
    cursor: pointer;
  }
}

.btn-primary{
  background-color: #E60028;
  border: 1px solid #E60028;
  color: #fff;
}

.btn-outline{
  border: 1px solid #A7A7A7;
}