.horizontal_container{
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
}
.vertical_container{
  padding-top: 40px;
  padding-bottom: 40px;
}

header{
  display: flex;
  flex-direction: column;
}

header .header_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .profil{
  display: flex;
  gap: 10px;
  align-items: center;
}

header .profil .profil_avatar{
  background-color: #830404;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

header .profil .profil_name{
  padding: 8px 10px 5px 0;
  border-right: 2px solid #8f8f8f;
}

header nav{
  border-top: 1px solid #aaa9a9;
  border-bottom: 1px solid #000;
}

header nav table{
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  text-transform: uppercase;
  font-size: small;
}
header nav table td a{
  text-decoration: none;
  color: #000;
  padding: 15px;
  display: block;
}

header nav table td:not(td:last-child){
  border-right: 1px solid #8f8f8f;
}
header nav table td:first-child{
  text-align: right;
}
header nav table td:hover{
  background-color: #dbd9d9;
}