<header>
  <section class="vertical_container horizontal_container header_content">
    <img src="img/logo.png" alt="">
    <h3>PLATEFORME DE TRAITEMENT DES CANDISATURES</h3>
    <div class="profil">
      <div class="profil_avatar">LA</div>
      <span class="profil_name">Lisa ATHANE</span>
      <img src="icon/sign-out-option.png" alt="Logout_icon">
    </div>
  </section>
  <nav>
    <table class="horizontal_container">
      <tbody>
        <tr>
          <td><a href=""><img src="icon/home.png" alt=""></a></td>
          <td><a href="">offre disponible</a></td>
          <td><a href="">vos candidatures</a></td>
          <td><a href="">votre cv</a></td>
          <td><a href="">parametres</a></td>
        </tr>
      </tbody>
    </table>
  </nav>
</header>